header {
  height: 60px;
  background: Navy;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: Azure;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  font-family: Impact, sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 15px;
}
nav ul li a {
  text-decoration: none;
  color: Azure;
  font-family: Impact, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 60px;
}


/* About Page */
.about-body {
  background-color: rgb(133, 51, 255);
}

.about-title {
  color: rgb(250, 235, 215);
  font-family: DotumChe, sans-serif;
  text-align: center;
  font-size: 350%;
  background-color: rgb(255, 94, 77);
  padding: 10px;
  margin-bottom: 20px;
}

.about-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.about-subtitle {
  color: hsl(34, 45%, 80%);
  font-family: 'Times New Roman', serif;
  text-align: center;
  font-size: 290%;
  margin-bottom: 20px;
}

.about-description {
  color: #7FFFD4;
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-size: 250%;
  margin: 25px 50px 75px 100px;
  border: 1px solid rgb(204, 204, 255);
  background-color: hsl(180, 100%, 20%);
  padding: 25px;
}
