header {
  height: 60px;
  background: Navy;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: Azure;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  font-family: Impact, sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 15px;
}
nav ul li a {
  text-decoration: none;
  color: Azure;
  font-family: Impact, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 60px;
}

/* Contact Page */
.contact-body {
  background-image: url("pastel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-title {
  color: hsl(0, 100%, 90%);
  font-family: EucrosiaUPC, serif;
  text-align: center;
  font-size: 350%;
  padding: 25px 50px;
  background-color: #8b4727;
  border-style: dotted dashed solid double;
  border-width: 5px;
  margin: 10px;
}

.contact-info {
  color: peru;
  text-align: center;
  font-family: Gabriola, serif;
  font-size: 195%;
  margin-bottom: 20px;
}

.contact-image img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}
